-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDLgHpwnyg1AGPh
+MO1pm0WBuq1N1ANgWjeqjwtYpf4cihokt4Z6M0zFgkCkdj05pnqCI9LDFja5c8G
S/riu5CCaq/+dwXXBRvaS2GauHMoW3/kNNe/WGPBHKkz7rPbo/li3yslyDNVXt81
25WQe7c+iNqseil+RToyiujyVoj+xj/lhTPJofHhiI0WIDNU5GvyJSqnxqxi7VnG
MrBJv+0a4uDfvgqLTqn4F5qYJeEZ4Rav4jNvV7vb46NdeBPzdf2kIUtp45oFg+Kt
+G1n0Hq3j4NuYy8KVNTaLWZeOpJM7rkiF4pFQmAzCAW1C512TuvGi8ifqPDZtaMk
jhvFPEF/AgMBAAECggEAAyk5vaobO8eHxajRkW7GXwM4fhwf2DXcZSkLykCvz6Im
UomFfa2KEnMTLMELN7KlTWdYonfMoYnUT2q6uO7k7cGufitnIdHoftmQ6JBY6ZWS
RP81IrnCwuspDa91h8HiS9DfoLSdZ4QTv4hrqFTjocsKaodzQYzdvI8/0xPZCOwQ
Vn4o/8H9zfBFiConXFuOgA21gfzx5c0Ut55huN0PUA6sHuixqFoaQQYrGVcKNRKu
Gk2NaDzQpluNLx/dilLqP3eYbOYcGxIynFdWI0YXIJRFPA1RsHO0PpXd+5sWb+cs
p7txiEnT2MQoOSzoZSPWVYL5SXvgFPeRI8zss0jPoQKBgQDoIkVGVNBOtNfcgWCI
j6uW+y3HF0FNlnukuEYLltizWl+IwihNMPrTUJLx4mMCOQmC5FBbDEHUoQHINi4I
Xv+7NQVuRUy4p+zirbEtgo7k3VaRm2iN3JPdOPvTltSjooBHNZsGCZ6pyEMTWnvb
i2+NRtt/DSkvQypQBP+jLOx8GQKBgQDgbJ4bPsEmdhnwWHlfs+Qe/vX9it/t822N
pgp7paFFirOVE9L06rvLzyURclTWzYHH2r6uMTzo8mhCFm2WWH8rM8ztnao+HSLm
NxzhsORwd0sY+RBSRgw79ShgneMnwKilf9M1VnTnjnpC/jzhFpIMLeHg2B3KbeTS
hyW7bzFdVwKBgFrIPEtbE/QT6W+E8Vm2xiZPqQF5aMKNHWG35zzVC35o03/KXrSB
eTZ3BmCuZoYSBFQ6MerJil07clT4S1xeuqhd/fe4Bl8Y3R1xTB8+Nd/vZ9Gd82+3
WeRkSqffDt3HyV8P6cacsH45oXHKKzIa/89CbMjtPrQLElsk+Uy5XurRAoGANeLe
s7wFtK522/bibdBL3gVqG07VJdVlYLWVnsrORlxfclQoOxaBsRYz2FSTemAt4Ubs
sfawoV5TGks4VPk6z6zIb+WDkxZ74rso/Cf1Mevy5DQpbxfSqDLdVxWSDWF9HP/s
Pspbl53mTV+uTn2U48fAjLRXsttgLgy1SqQQPlECgYBW0hBPMZJMd5NKuqwy30qQ
IDeXfqZBLxD1fjAF0pRlvZ/LsHLtOiML7sdNeDwQ3cGz5MRrLSDd12+oFR+k0HVL
B/cw22VkRqJrjK/IkTqER8ZObc2wOAbmsFWPrd4omUbhhTZKaPwiH5zUARWIijaB
Ui9YB93TE1WYfO5GENu+BQ==
-----END PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
MIIFCzCCA/OgAwIBAgISBA3sn/9rvG2AxIO3NJB+MiShMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODAzMjUxMDEzMDlaFw0x
ODA2MjMxMDEzMDlaMB8xHTAbBgNVBAMTFGNvbXByaWdvLXR6aWRhbmljLnRrMIIB
IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAy4B6cJ8oNQBj4fjDtaZtFgbq
tTdQDYFo3qo8LWKX+HIoaJLeGejNMxYJApHY9OaZ6giPSwxY2uXPBkv64ruQgmqv
/ncF1wUb2kthmrhzKFt/5DTXv1hjwRypM+6z26P5Yt8rJcgzVV7fNduVkHu3Poja
rHopfkU6Moro8laI/sY/5YUzyaHx4YiNFiAzVORr8iUqp8asYu1ZxjKwSb/tGuLg
374Ki06p+BeamCXhGeEWr+Izb1e72+OjXXgT83X9pCFLaeOaBYPirfhtZ9B6t4+D
bmMvClTU2i1mXjqSTO65IheKRUJgMwgFtQuddk7rxovIn6jw2bWjJI4bxTxBfwID
AQABo4ICFDCCAhAwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMB
BggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBTsjYWFZTnsdmSRFGYf
pahx6oZgljAfBgNVHSMEGDAWgBSoSmpjBH3duubRObemRWXv86jsoTBvBggrBgEF
BQcBAQRjMGEwLgYIKwYBBQUHMAGGImh0dHA6Ly9vY3NwLmludC14My5sZXRzZW5j
cnlwdC5vcmcwLwYIKwYBBQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14My5sZXRzZW5j
cnlwdC5vcmcvMB8GA1UdEQQYMBaCFGNvbXByaWdvLXR6aWRhbmljLnRrMIH+BgNV
HSAEgfYwgfMwCAYGZ4EMAQIBMIHmBgsrBgEEAYLfEwEBATCB1jAmBggrBgEFBQcC
ARYaaHR0cDovL2Nwcy5sZXRzZW5jcnlwdC5vcmcwgasGCCsGAQUFBwICMIGeDIGb
VGhpcyBDZXJ0aWZpY2F0ZSBtYXkgb25seSBiZSByZWxpZWQgdXBvbiBieSBSZWx5
aW5nIFBhcnRpZXMgYW5kIG9ubHkgaW4gYWNjb3JkYW5jZSB3aXRoIHRoZSBDZXJ0
aWZpY2F0ZSBQb2xpY3kgZm91bmQgYXQgaHR0cHM6Ly9sZXRzZW5jcnlwdC5vcmcv
cmVwb3NpdG9yeS8wDQYJKoZIhvcNAQELBQADggEBABEmAX6sZVrNF+1TrwulT5ZP
UmBOBqvRx1X9pAFn7u5ifpS3EURxQETkrw7TaSc/ayA/p+zyk5VR/+KEv7ON2jCe
vg6DlhF0/ns4fn68x2dGSofz1Ikg4ZbR6hynv5GwEXyGv8Lg3zohD8tDniP5viQA
Ep6I215C8LfsHYZtyQfr/6CuucDxmmDj6r0eJqXnDs7afkdj2wVhKOiIgDPlY/gH
AJER7NFniyyYo2L0oMucJkKxMUonRi2RjRkXS0SXZFfH/cdpLYibg/nVdeQxCriO
CtnzMHBmaBhnOSjOFj0+pAjUV2kFOPmEKvYWx50cYJKpkIgikrqlMr03674dEns=
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
/PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
-----END CERTIFICATE-----
-----BEGIN DH PARAMETERS-----
MIIBCAKCAQEAjFqucRRGnPE7n8HCGm6gTi9qFcLiPn/BNFW2DTfF38adnqcJpe6r
+SFa5YAkkoIA4L60lm4Fv6wSrhd31FCdh5f222pSriUpj+t7SyYJ65nx7aSFWVCK
imdSzOOEechq3B8KMhH8KAnIxC/tSHiK8Zc06sU9ihm2b3hI4gT9YyEvis+lAi+J
lfu9i8dEHeJjd6AmuBcC1QZjvweFgZR0lZrAvEC6utQUiOEZelUNIfQk+0nUHvCg
RySLzqYHyUDGimkeHiDGF0Ah5z03pkYGjwvgYVupJXaDBmCgiuQkvzNAD6pVm5x/
YVkMFnziJ9gIIAnabxc2r9r5pG/gJAnsmwIBAg==
-----END DH PARAMETERS-----

