-----BEGIN CERTIFICATE-----
MIIFCzCCA/OgAwIBAgISBA3sn/9rvG2AxIO3NJB+MiShMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODAzMjUxMDEzMDlaFw0x
ODA2MjMxMDEzMDlaMB8xHTAbBgNVBAMTFGNvbXByaWdvLXR6aWRhbmljLnRrMIIB
IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAy4B6cJ8oNQBj4fjDtaZtFgbq
tTdQDYFo3qo8LWKX+HIoaJLeGejNMxYJApHY9OaZ6giPSwxY2uXPBkv64ruQgmqv
/ncF1wUb2kthmrhzKFt/5DTXv1hjwRypM+6z26P5Yt8rJcgzVV7fNduVkHu3Poja
rHopfkU6Moro8laI/sY/5YUzyaHx4YiNFiAzVORr8iUqp8asYu1ZxjKwSb/tGuLg
374Ki06p+BeamCXhGeEWr+Izb1e72+OjXXgT83X9pCFLaeOaBYPirfhtZ9B6t4+D
bmMvClTU2i1mXjqSTO65IheKRUJgMwgFtQuddk7rxovIn6jw2bWjJI4bxTxBfwID
AQABo4ICFDCCAhAwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMB
BggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBTsjYWFZTnsdmSRFGYf
pahx6oZgljAfBgNVHSMEGDAWgBSoSmpjBH3duubRObemRWXv86jsoTBvBggrBgEF
BQcBAQRjMGEwLgYIKwYBBQUHMAGGImh0dHA6Ly9vY3NwLmludC14My5sZXRzZW5j
cnlwdC5vcmcwLwYIKwYBBQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14My5sZXRzZW5j
cnlwdC5vcmcvMB8GA1UdEQQYMBaCFGNvbXByaWdvLXR6aWRhbmljLnRrMIH+BgNV
HSAEgfYwgfMwCAYGZ4EMAQIBMIHmBgsrBgEEAYLfEwEBATCB1jAmBggrBgEFBQcC
ARYaaHR0cDovL2Nwcy5sZXRzZW5jcnlwdC5vcmcwgasGCCsGAQUFBwICMIGeDIGb
VGhpcyBDZXJ0aWZpY2F0ZSBtYXkgb25seSBiZSByZWxpZWQgdXBvbiBieSBSZWx5
aW5nIFBhcnRpZXMgYW5kIG9ubHkgaW4gYWNjb3JkYW5jZSB3aXRoIHRoZSBDZXJ0
aWZpY2F0ZSBQb2xpY3kgZm91bmQgYXQgaHR0cHM6Ly9sZXRzZW5jcnlwdC5vcmcv
cmVwb3NpdG9yeS8wDQYJKoZIhvcNAQELBQADggEBABEmAX6sZVrNF+1TrwulT5ZP
UmBOBqvRx1X9pAFn7u5ifpS3EURxQETkrw7TaSc/ayA/p+zyk5VR/+KEv7ON2jCe
vg6DlhF0/ns4fn68x2dGSofz1Ikg4ZbR6hynv5GwEXyGv8Lg3zohD8tDniP5viQA
Ep6I215C8LfsHYZtyQfr/6CuucDxmmDj6r0eJqXnDs7afkdj2wVhKOiIgDPlY/gH
AJER7NFniyyYo2L0oMucJkKxMUonRi2RjRkXS0SXZFfH/cdpLYibg/nVdeQxCriO
CtnzMHBmaBhnOSjOFj0+pAjUV2kFOPmEKvYWx50cYJKpkIgikrqlMr03674dEns=
-----END CERTIFICATE-----

